.game {
  padding-top: 80px;
  padding-bottom: 165px;
  width: 100%;
  background-color: #f5f7fa;
  height: calc(100% - 210px);
  overflow-y: auto;
}

.actionButtons {
  position: fixed;
  bottom: 0;
  height: 110px;
  width: 100%;
  padding-bottom: 25px;
	background-color: #f5f7fa;
  z-index: 100;
}

.info {
  margin: 5px;
  color: #45b1f7;
}

.startNumber {
  display: flex;
  justify-content: center;
	flex-grow: 1;
}
