.avatar {
  position: relative;
  padding: 0 20px;
}

.avatarImage {
  position: relative;
  display: block;
  z-index: 10;
}

.out {
  height: 52px;
  top: -3px;
  left: 3px;
}

.in {
  margin: 8px;
  width: 32px;
}

.imgAvatarBg {
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.avatarBg {
  vertical-align: middle;
  line-height: 46px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.blue {
  background-color: #4189bb;
}

.grey {
  background-color: #a5a6a9;
}

.orange {
  background-color: #db9808;
}
