.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.wide {
  margin: 5px;
  padding: 15px 20px;
  min-width: 230px;
  max-width: 300px;
  background-color: #fff;
  color: #4189bb;
  border-radius: 40px;
  border-style: none;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 42%);
  font-weight: bold;
  font-size: 18px;
}

.round {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #50aadd;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 15px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 42%);
}

.wide:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.wide:hover {
  background-color: #ebf0f2;
  color: #3a8cbb;
}

.round:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.round:hover {
  background-color: #3a8cbb;
  color: #ebf0f2;
}
