.header {
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #50aadd;
  color: white;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #50aadd;
	height: 80px;
	box-shadow:0 0 6px rgba(0,0,0,.6);
}

.sticky {
	position: fixed;
	top: 0;
}

.title {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
	justify-content: center;
	width: 65%;
}

.gameTitle {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}

.slogan {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
}
