html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #50aadd;
	height: 100%;
	font-size: 100%;
	line-height: 1.4;
	box-sizing: border-box;
	display: block;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="button"]{
	outline:none;
}

input[type="button"]::-moz-focus-inner {
	border: 0;
}

button:focus {outline:0;}

h1 {
  margin: 0 auto;
}
